.Header {
  height: 100vw;
  width: 100vw;
  position: relative;
  overflow: hidden;
  max-height: 400px;

  &__image {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
  }

  &__title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem;
    color: white;
    font-size: 3.2rem;
    font-family: var(--font-primary);
    font-weight: 500;
    text-shadow: 0.1rem 0.1rem 0.3rem black;
  }
}
